<section class="about">
    <div class="heading">
        <h2>About Me</h2>
    </div>
    <div class="content">
        <div class="content-box w70">
            <h3>I'm a Software Engineer.</h3>
            <h4>5 years of working experience</h4>
            <br><p>I am a Computer Science graduate and has been in IT industry since 5 years. Since start of my professional career I have been working as a Backend Developer. However, throughout this time I also developed interest in frontend technologies. With growing interest I chose Mobile Solutions Development program at Conestoga College, in order to get in depth knowledge of different stack.</p><br>

            <h4>Here are some technologies, which I have worked on:</h4>

            <div class="interest">
                <div class="item">
                    <p>Java</p>
                </div>
                <div class="item">
                    <p>C#</p>
                </div>
                <div class="item">
                    <p>HTML</p>
                </div>
                <div class="item">
                    <p>CSS</p>
                </div>
                <div class="item">
                    <p>Javascript</p>
                </div>
                <div class="item">
                    <p>Python</p>
                </div>
                <div class="item">
                    <p>Kotlin</p>
                </div>
                <div class="item">
                    <p>Swift</p>
                </div>
            </div>
        </div>
        <div class="w30">
            <img src="/images/Ali Ahad 001.jpeg" class="img">
        </div>
    </div>
</section>