<section class="banner">
    <div class="text-box">
        <h2>Hello, I'm<br><span>Ali Ahad Badruddin.</span></h2>
        <h3>I'm a Software Developer.</h3>
        <a href="/about" class="btn">About Me</a>
        <div class="social-links">
            <a href="https://www.linkedin.com/in/aliahad-badruddin"><div class="social"><span><i class="fab fa-linkedin-in"></i></span></div></a>
            <a href="https://github.com/aliahad"><div class="social"><span><i class="fab fa-github"></i></span></div></a>
            <a href="https://www.instagram.com/aly.ahad"><div class="social"><span><i class="fab fa-instagram"></i></span></div></a>
            <a href="https://www.facebook.com/aliahad17"><div class="social"><span><i class="fab fa-facebook-f"></i></span></div></a>
        </div>
    </div>
</section>