<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/fa6261e5e5.js" crossorigin="anonymous"></script>
    <script type='text/javascript' src='/javascripts/script.js' ></script>
  </head>
  <body>
    <header>
      <a href="/" class="logo">Portfolio</a>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </header>
    {{{body}}}

    <div class="copyright">
      <p>Copyright © 2021 Ali Ahad. All Rights Reserved</p>
    </div>

  </body>
</html>