<section class="projects">
    <div class="heading white">
        <h2>Projects</h2>
        <p>Here are my lifetime projects that I have worked on.</p>
    </div>
    <div class="content">
        <div class="projects-box">
            <h2>Worker Booking Application</h2>
            <p>An android application to hire workers for daily purpose works.</p>
        </div>
        <div class="projects-box">
            <h2>Ecommerce Application</h2>
            <p>A mobile application to buy and sell goods online</p>
        </div>
        <div class="projects-box">
            <h2>Captain Loyalty Service</h2>
            <p>A web service to handle loyalty program for captains, who are drivers at Careem (ridehailing company)</p>
        </div>
        <div class="projects-box">
            <h2>Smart Retail Application</h2>
            <p>An application to serve goods at retail shops from warehouses</p>
        </div>
        <div class="projects-box">
            <h2>Bomber Man Game</h2>
            <p>An android game, where mission was to kill other enemies by planting bombs in their way</p>
        </div>
        <div class="projects-box">
            <h2>APM Platform</h2>
            <p>A server side platform to monitor performance (requests, cpu, memory, etc) of microservice applications</p>
        </div>
    </div>
</section>